<% layout('../../../layouts/admin') -%>
<% block('title',' - Teams')%>
<% script('/js/views/admin/teams/index.js') -%>
<div class="row">
	<div class="col-xs-12">
		<div class="alerts"></div>
		<div id="header"></div>
		<div id="filters"></div>
		<div id="results-table"></div>
		<div id="results-paging"></div>
	</div>
</div>
<script type="text/template" id="tmpl-header">
<div class="page-header">
	<form class="form-inline pull-right">
		<div class="input-group">
			<input name="name" type="text" placeholder="enter a team name" value="" class="form-control">
			<button type="button" class="btn btn-primary btn-add">Add New</button>
		</div>
	</form>
	<h1>Teams</h1>
</div>
</script>
<script type="text/template" id="tmpl-filters">
<form class="filters">
	<div class='row'>
		<div class='col-sm-3'>
			<label>Team Search</label>
			<input name="name" type="text" class="form-control">
		</div>
		<div class='col-sm-3'>
			<label>league</label>
			<select name='league' class="form-control" id="leagues">
				<option value>any</option>
			</select>
		</div>
		<div class="col-sm-2">
			<label>Sort By</label>
			<select name="sort" class="form-control">
				<option value="_id">id</option>
				<option value="name">name</option>
				<option value="league">league</option>
			</select>
		</div>
		<div class="col-sm-2">
			<label>Limit</label>
			<select name="limit" class="form-control">
				<option value="10">10 items</option>
				<option value="20" selected="selected">20 items</option>
				<option value="50">50 items</option>
				<option value="100">100 items</option>
			</select>
		</div>
	</div>
</form>
</script>
<script type="text/template" id="tmpl-results-table">
<table class='table table-striped'>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>League</th>
			<th>Park</th>
		</tr>
	</thead>
	<tbody id="results-rows"></tbody>
</table>
</script>
<script type="text/template" id="tmpl-results-row">
	<td><input type="button" value="Edit" class="btn btn-default btn-sm btn-details"></td>
	<td>{{= name}}</td>
	<td>{{= league}}</td>
	<td>{{= park}}</td>
</script>
<script type="text/template" id="tmpl-results-paging">
	<div class="well">
		<div class="btn-group pull-left">
			<button class="btn btn-default" disabled>Page {{=pages.current}} of {{=pages.total}}</button>
			<button class="btn btn-default" disabled>Rows {{=items.begin}} - {{=items.end}} of {{=items.total}}</button>
		</div>
		<div class="btn-group pull-right">
			<button class="btn btn-default btn-page btn-prev" data-page="{{=pages.prev}}">Prev</button>
			<button class="btn btn-default btn-page btn-next" data-page="{{=pages.next}}">Next</button>
		</div>
		<div class="clearfix"></div>
	</div>
</script>
<script type="text/template" id="tmpl-results-empty-row"><tr><td colspan="5">No documents Matched</td></tr></script>
<script type="text/template" id="tmpl-error">
	{{_.each(errors, function(err) { }}
	<div class="alert alert-danger alert-dismissable">
		<button class="close" type="button" data-dismiss="alert">&times;</button>{{= err.message }}
	</div>
	{{ }); }}
	</div>
</script>
<script type="text/template" id="data-results"><%-data.results%></script>